import { Injectable, NotFoundException } from "@nestjs/common";
import { InjectModel } from "@nestjs/mongoose";
import { Model, Types } from "mongoose";
import { QueryManager } from "../query-manager/query-manager";
import { Create{{modelName}}Dto } from "./dto/create-{{modelFileName}}.dto";
import { Search{{modelName}}Dto } from "./dto/search-{{modelFileName}}.dto";
import { Update{{modelName}}Dto } from "./dto/update-{{modelFileName}}.dto";
import { {{modelName}} } from "./models/{{modelFileName}}.model";

@Injectable()
export class {{moduleName}}Service {
	constructor(
		@InjectModel("{{modelName}}")
		private readonly {{injectedModelName}}Model: Model<{{modelName}}>,
		private readonly queryManager: QueryManager,
	) {}

	async create(create{{modelName}}Dto: Create{{modelName}}Dto) {
		const {{injectedModelName}} = new this.{{injectedModelName}}Model(create{{modelName}}Dto);
		return await {{injectedModelName}}.save();
	}

	async findAll(search{{modelName}}Dto: Search{{modelName}}Dto) {
		const filter = this.queryManager.buildFilterQuery(
			this.{{injectedModelName}}Model,
			search{{modelName}}Dto,
			["title"],
		);

		return await this.queryManager.buildPaginationQuery(
			this.{{injectedModelName}}Model,
			search{{modelName}}Dto,
			filter,
		);
	}

	async findOne(id: string) {
		const {{injectedModelName}} = await this.{{injectedModelName}}Model.findById(id);
		if (!{{injectedModelName}}) throw new NotFoundException("{{modelName}} not found");
		return {{injectedModelName}};
	}

	async update(id: string, update{{modelName}}Dto: Update{{modelName}}Dto) {
		const {{injectedModelName}} = await this.{{injectedModelName}}Model.findById(id);
		if (!{{injectedModelName}}) throw new NotFoundException("{{modelName}} not found");

		return await {{injectedModelName}}.set(update{{modelName}}Dto).save();
	}

	async remove(id: string) {
		// @ts-ignore
		await this.{{injectedModelName}}Model.deleteById(new Types.ObjectId(id));
		return id;
	}
}
