import { Test, TestingModule } from '@nestjs/testing';
import { {{moduleName}}Controller } from './{{moduleFileName}}.controller';
import { {{moduleName}}Service } from './{{moduleFileName}}.service';

describe('{{moduleName}}Controller', () => {
  let controller: {{moduleName}}Controller;

  beforeEach(async () => {
    const module: TestingModule = await Test.createTestingModule({
      controllers: [{{moduleName}}Controller],
      providers: [{{moduleName}}Service],
    }).compile();

    controller = module.get<{{moduleName}}Controller>({{moduleName}}Controller);
  });

  it('should be defined', () => {
    expect(controller).toBeDefined();
  });
});
