import { Controller, Get, Param, Query } from "@nestjs/common";
import { ApiBearerAuth, ApiOperation, ApiTags } from "@nestjs/swagger";
import { {{moduleName}}Service } from "./{{moduleFileName}}.service";
import { Search{{modelName}}Dto } from "./dto/search-{{modelFileName}}.dto";

@ApiTags("{{moduleName}} - App")
@Controller("app-api/{{moduleFileName}}")
export class {{moduleName}}AppController {
	constructor(private readonly {{injectedModuleName}}Service: {{moduleName}}Service) {}

	@Get()
	@ApiOperation({ summary: "Find all" })
	@ApiBearerAuth()
	findAll(@Query() search{{modelName}}Dto: Search{{modelName}}Dto) {
		return this.{{injectedModuleName}}Service.findAll(search{{modelName}}Dto);
	}

	@Get(":id")
	@ApiOperation({ summary: "FindOne" })
	@ApiBearerAuth()
	findOne(@Param("id") id: string) {
		return this.{{injectedModuleName}}Service.findOne(id);
	}
}
