import { Test, TestingModule } from '@nestjs/testing';
import { {{moduleName}}Service } from './{{moduleFileName}}.service';

describe('{{moduleName}}Service', () => {
  let service: {{moduleName}}Service;

  beforeEach(async () => {
    const module: TestingModule = await Test.createTestingModule({
      providers: [{{moduleName}}Service],
    }).compile();

    service = module.get<{{moduleName}}Service>({{moduleName}}Service);
  });

  it('should be defined', () => {
    expect(service).toBeDefined();
  });
});
