import {
	Controller,
	Get,
	Post,
	Body,
	Patch,
	Param,
	Delete,
	Query,
	UsePipes,
	ValidationPipe,
} from "@nestjs/common";
import { ApiBearerAuth, ApiOperation, ApiTags } from "@nestjs/swagger";
import { {{moduleName}}Service } from "./{{moduleFileName}}.service";
import { Create{{modelName}}Dto } from "./dto/create-{{modelFileName}}.dto";
import { Search{{modelName}}Dto } from "./dto/search-{{modelFileName}}.dto";
import { Update{{modelName}}Dto } from "./dto/update-{{modelFileName}}.dto";
import { Roles } from "../auth/roles.decorator";
import { UserRolesEnum } from "../users/models/roles.enum";

@ApiTags("{{moduleName}} - Admin")
@Controller("admin-api/{{moduleFileName}}")
@Roles(UserRolesEnum.ADMIN)
@UsePipes(new ValidationPipe({ transform: true, whitelist: true }))
export class {{moduleName}}Controller {
	constructor(private readonly {{injectedModuleName}}Service: {{moduleName}}Service) {}

	@Post()
	@ApiOperation({ summary: "Create" })
	@ApiBearerAuth()
	create(@Body() create{{modelName}}Dto: Create{{modelName}}Dto) {
		return this.{{injectedModuleName}}Service.create(create{{modelName}}Dto);
	}

	@Get()
	@ApiOperation({ summary: "Find all" })
	@ApiBearerAuth()
	findAll(@Query() search{{modelName}}Dto: Search{{modelName}}Dto) {
		return this.{{injectedModuleName}}Service.findAll(search{{modelName}}Dto);
	}

	@Get(":id")
	@ApiOperation({ summary: "FindOne" })
	@ApiBearerAuth()
	findOne(@Param("id") id: string) {
		return this.{{injectedModuleName}}Service.findOne(id);
	}

	@Patch(":id")
	@ApiOperation({ summary: "Update" })
	@ApiBearerAuth()
	update(@Param("id") id: string, @Body() update{{modelName}}Dto: Update{{modelName}}Dto) {
		return this.{{injectedModuleName}}Service.update(id, update{{modelName}}Dto);
	}

	@Delete(":id")
	@ApiOperation({ summary: "Remove" })
	@ApiBearerAuth()
	remove(@Param("id") id: string) {
		return this.{{injectedModuleName}}Service.remove(id);
	}
}
