import { Module } from "@nestjs/common";
import { {{moduleName}}Service } from "./{{moduleFileName}}.service";
import { {{moduleName}}Controller } from "./{{moduleFileName}}.controller";
import { MongooseModule } from "@nestjs/mongoose";
import { addPaginationPlugin, addSoftDeletePlugin } from "../config/mongoose";
import { {{modelName}}Schema } from "./models/{{modelFileName}}.model";
import { {{moduleName}}AppController } from "./{{moduleFileName}}.app.controller";

@Module({
	controllers: [{{moduleName}}Controller, {{moduleName}}AppController],
	providers: [{{moduleName}}Service],
	imports: [
		MongooseModule.forFeatureAsync([
			{
				name: "{{modelName}}",
				useFactory: () => {
					addSoftDeletePlugin({{modelName}}Schema);
					addPaginationPlugin({{modelName}}Schema);
					return {{modelName}}Schema;
				},
			},
		]),
	],
})
export class {{moduleName}}Module {}
