import { Prop, Schema, SchemaFactory } from "@nestjs/mongoose";
import { Document } from "mongoose";

export type {{modelName}}Document = {{modelName}} & Document;

@Schema({ timestamps: true })
export class {{modelName}} {
	@Prop()
	title: string;
}

export const {{modelName}}Schema = SchemaFactory.createForClass({{modelName}});
