import { ApiProperty } from "@nestjs/swagger";
import { BaseQueryDto } from "../../query-manager/dto/base-query.dto";

export class Search{{modelName}}Dto extends BaseQueryDto {
	@ApiProperty({ required: false })
	title?: string;
}
