import { PartialType } from '@nestjs/swagger';
import { Create{{modelName}}Dto } from './create-{{modelFileName}}.dto';

export class Update{{modelName}}Dto extends PartialType(Create{{modelName}}Dto) {}
